.mainPageContainer {
  display: flex;
  margin: 80px 0 100px;
  gap: 100px;
}
.descriptionTitle {
  font-size: clamp(110px, 15vw, 184px);
  font-family: var(--logo-font);
  position: relative;
  letter-spacing: 0.05em;
}
.descriptionSubitle {
  color: var(--submain-color);
  font-family: var(--cursive-font);
  font-size: clamp(50px, 13vw, 84px);
  position: absolute;
  top: clamp(117px, 14vw, 193px);
  left: clamp(140px, 16vw, 224px);

}
.pagination{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.arrow{
  padding: 5px 25px;
  background-color: var(--submain-color);
  border-radius: 0 100px 100px 0;
}
.arrowLeft{
  transform: rotate(180deg);
}


